:root {
    font-family: "Quicksand", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    background: linear-gradient(to top right, #000000 75%, #1b1b1b 100%);
    color: white;
}

body{
    margin-bottom: 1rem;
}


.nav-container {
    background-color: #000000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    height: 3.5em;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
    z-index: 1000;
    padding: 0 1em;
}

.nav-container a {
    font-size: 17px;
    color: white;
    padding: 1em;
    text-decoration: none;
}

.nav_toggle {
    display: none;
}

.nav_icon {
    flex: 1;
    display: none;
    align-items: center;
}

.nav_icon i {
    color: white;
    font-size: 20px;
    cursor: pointer;
}

.menu {
    display: flex;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 0;
    height: 100%;
    align-items: center;
    background: none;
}

.menu ul {
    display: flex;
    gap: 2em;
    list-style: none;
    margin: 0;
    padding: 0;
}

.menu li {
    display: inline-block;
    margin: 0 1.5em;
}

.nav-container .menu a:hover {
    font-weight: bold;
    color: #B92933;
}

.icons {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 10px;
    padding-right: 20px;
}

.icons a:hover {
    font-weight: bold;
    color: #B92933;
    font-size: 18.5px;
}

@media (max-width: 1073px) {
    .nav_icon {
        display: flex;
    }
    .nav-container .menu a:hover {
        font-weight: bold;
        color: white;
    }
    .menu {
        display: none;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 13rem;
        position: absolute;
        background-color: #000;
        top: 3.5em;
        left: 50%;
        transform: translateX(-53%);
        margin: 0;
        padding: 0;
    }

    .menu ul {
        display: flex;
        flex-direction: column;
        gap: 2em;
        padding: 0;
        margin: 0;
        list-style: none;
        width: 100%;
        align-items: center;
        justify-content: center;
    }

    .menu ul li {
        width: auto;
        text-align: center;
        margin: 0;
        padding: 10px 20px; 
    }

    .menu li:hover {
        font-weight: bold;
        color: white;
        background-color: #B92933;
        width: 83%;
    }


    .menu ul li a:hover {
        color: white;
    }
    .icons {
        margin-right: 0;
        position: fixed;
        right: 15px;
        display: flex;
        flex-direction: row;
        gap: 10px;
        z-index: 1000;
    }
    .nav_toggle:checked ~ .menu {
        display: flex;
    }
}

section.home {
    display: flex;
    flex-direction: column;
    margin-top: 8em;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    gap: 20px;
    max-width: 1200px;
    padding: 0 2em;
}

.home div {
    margin-top: 2.5em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 400px;
    margin: 0;
    padding: 1em;
    height: 350px;
}

.home h2 {
    margin-bottom: 0;
    color: #B92933;
}

span {
    margin-top: 0px;
    font-style: italic;
    font-size: 1.1em;
}

.home-image {
    align-items: center;
    max-width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    }


@media (min-width: 1073px) {
    section.home {
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }
    div {
        width: auto;
    }
}


section.about_me{
    align-items: center;
    margin-top: 8rem;
}

.hobby{
    text-align: center;
    display: inline-block;
    margin: 2rem;
    width: 15rem;
}

.hobby img{
    width: 200px;
}

.hobbies{
    text-align: center;
}

@media (max-width: 768px) {
    .hobbies {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1.5rem;
        margin: 0 auto;
    }

    .hobby {
        margin: 1rem 0;
        text-align: center;
    }

}


section.projects {  
    width: auto;
    margin-top: 10em;
}
.projects h1{
    text-align: center;
}

.projectNav {
    display: flex;
    justify-content: center;
    width: 100%;
    font-size: 18px;
    margin-bottom: 40px;

    
}.projectNav a {
    color: white;
    padding: 20px;
    text-align: center;
    display: inline-block;
    text-decoration: none;
    }

.project_content {
    margin-top: .5rem;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.project {
    width: 100%;
    display: flex;
    flex: 1, 1.5;
    align-items: justify;
    margin: 2em;
    width: calc(100% - 4em);
    max-width: 600px;
}

.img {
    flex: 0 0 auto;
    margin-right: 1em;
}

.img img {
    width: 100%;
    max-width: 280px;
    height: auto;
}

.text {
    display: inline-block;
    flex: 1;
    text-align: justify;
    font-size: 15.5px;
}

.text h2 {
    font-size: 16.5px;
}


@media (max-width: 768px) {
    section.projects {
        margin-top: 5em;
    }

    .project {
        flex-direction: column;
        align-items: center;
        width: 90%;
        margin-left: 1em;
        margin-right: 1em;
    }

    .img {
        margin-right: 0;
        margin-bottom: 1em;
        display: flex;
        justify-content: center;
    }

    .img img {
        max-width: 100%;
        height: auto;
    }
}